# Exploratory Data Analysis: Acetylcholinesterase CDD project
In this section, we will be performing Descriptors Calculations and exploratory data analysis of our dataset.

#### Import libraries and get the data

In [27]:
import pandas as pd
import numpy as np
from rdkit import Chem
from rdkit.Chem import Descriptors, Lipinski

In [44]:
df = pd.read_csv('/home/alejandrodf1/Documents/computational_drug_discovery_project/data/processed/acetylcholinesterase-03-bioactivity-data-labelled.csv',delimiter=',')

In [46]:
df

,molecule_chembl_id,canonical_smiles,standard_value,class
0,CHEMBL133897,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1,750.00,active
1,CHEMBL336398,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1,100.00,active
2,CHEMBL131588,CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1,50000.00,inactive
3,CHEMBL130628,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F,300.00,active
4,CHEMBL130478,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C,800.00,active
...,...,...,...,...
6966,CHEMBL4863615,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)Nc4cn[n...,2.39,active
6967,CHEMBL4854913,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)N4CCNC(...,0.41,active
6968,CHEMBL4848527,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)NCc4cc[...,0.63,active
6969,CHEMBL4872514,COc1cc(CNC(=O)CCCCCCCCNc2c3c(nc4cc(Cl)ccc24)CC...,1.25,active
6970,CHEMBL3545559,O=C(NCCCCCCCCNc1c2c(nc3cc(Cl)ccc13)CCCC2)c1ccc...,NaN,intermediate

In [39]:
df.shape

(6971, 4)

In [47]:
df_drop_smile = df.drop(columns='canonical_smiles')  #drop canonical to clean it from strange values

In [48]:
smiles = [] #to save our clean canonical values

for i in df.canonical_smiles.tolist():
    cpd = str(i).split('.')  #separe each entry in each '.' that it is founds
    cpd_longest = max(cpd, key=len) #select the longest molecule
    smiles.append(cpd_longest) #save 

smiles = pd.Series(smiles, name= 'canonical_smiles') #change object to dataframe

In [49]:
df_clean_smiles = pd.concat([df_drop_smile, smiles], axis=1)
df_clean_smiles

,molecule_chembl_id,standard_value,class,canonical_smiles
0,CHEMBL133897,750.00,active,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1
1,CHEMBL336398,100.00,active,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1
2,CHEMBL131588,50000.00,inactive,CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1
3,CHEMBL130628,300.00,active,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F
4,CHEMBL130478,800.00,active,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C
...,...,...,...,...
6966,CHEMBL4863615,2.39,active,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)Nc4cn[n...
6967,CHEMBL4854913,0.41,active,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)N4CCNC(...
6968,CHEMBL4848527,0.63,active,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)NCc4cc[...
6969,CHEMBL4872514,1.25,active,COc1cc(CNC(=O)CCCCCCCCNc2c3c(nc4cc(Cl)ccc24)CC...
6970,CHEMBL3545559,NaN,intermediate,O=C(NCCCCCCCCNc1c2c(nc3cc(Cl)ccc13)CCCC2)c1ccc...

## Calculate Lipinski descriptors
Christopher Lipinski, a scientist at Pfizer, came up with a set of rule-of-thumb for evaluating the druglikeness of compounds. Such druglikeness is based on the Absorption, Distribution, Metabolism and Excretion (ADME) that is also known as the pharmacokinetic profile. Lipinski analyzed all orally active FDA-approved drugs in the formulation of what is to be known as the Rule-of-Five or Lipinski's Rule.

The Lipinski's Rule stated the following considerations:

* Molecular weight < 500 Dalton
* Octanol-water partition coefficient (LogP) < 5
* Hydrogen bond donors < 5
* Hydrogen bond acceptors < 10

#### Calculate descriptors

In [50]:
one_canol= df_clean_smiles['canonical_smiles'][0]
moldata = []
mol = Chem.MolFromSmiles(one_canol)
moldata.append(mol)
moldata

In [51]:
# Inspired by: https://codeocean.com/explore/capsules?query=tag:data-curation

def lipinski(smiles, verbose=False):
    moldata= []
    for elem in smiles:
        mol=Chem.MolFromSmiles(elem)
        moldata.append(mol)
    
    baseData = np.arange(1,1)
    i=0
    for mol in moldata:

        desc_MolWt = Descriptors.MolWt(mol)             #average molecular weigth
        desc_MolLogP = Descriptors.MolLogP(mol)         #to check lipophilicity
        desc_NumHDonors = Lipinski.NumHDonors(mol)      #to check number of H bond donors
        desc_NumHAcceptors = Lipinski.NumHAcceptors(mol) #to check number of H bond acceptors

        row = np.array([desc_MolWt, 
                        desc_MolLogP,
                        desc_NumHDonors,
                        desc_NumHAcceptors])
        
        if(i==0):
            baseData=row
        else:
            baseData=np.vstack([baseData,row])
        i=i+1
    
    columnsNames = ['MW','LogP','NumHDonors','NumHAcceptors']
    descriptors = pd.DataFrame(data=baseData, columns=columnsNames)

    return descriptors

In [52]:
df_lipinski = lipinski(df_clean_smiles.canonical_smiles)
df_lipinski

           MW     LogP  NumHDonors  NumHAcceptors
0     312.325   2.8032         0.0            6.0
1     376.913   4.5546         0.0            5.0
2     426.851   5.3574         0.0            5.0
3     404.845   4.7069         0.0            5.0
4     346.334   3.0953         0.0            6.0
...       ...      ...         ...            ...
6966  506.094   7.3886         3.0            4.0
6967  523.121   5.9852         2.0            4.0
6968  547.143   7.0315         3.0            4.0
6969  561.170   7.7468         2.0            5.0
6970  680.724  10.1762         3.0            5.0

[6971 rows x 4 columns]

## Combine DataFrames
1. our lipinky descriptors
2. Initial dataset

In [53]:
df_lipinski

           MW     LogP  NumHDonors  NumHAcceptors
0     312.325   2.8032         0.0            6.0
1     376.913   4.5546         0.0            5.0
2     426.851   5.3574         0.0            5.0
3     404.845   4.7069         0.0            5.0
4     346.334   3.0953         0.0            6.0
...       ...      ...         ...            ...
6966  506.094   7.3886         3.0            4.0
6967  523.121   5.9852         2.0            4.0
6968  547.143   7.0315         3.0            4.0
6969  561.170   7.7468         2.0            5.0
6970  680.724  10.1762         3.0            5.0

[6971 rows x 4 columns]

In [54]:
df

,molecule_chembl_id,canonical_smiles,standard_value,class
0,CHEMBL133897,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1,750.00,active
1,CHEMBL336398,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1,100.00,active
2,CHEMBL131588,CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1,50000.00,inactive
3,CHEMBL130628,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F,300.00,active
4,CHEMBL130478,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C,800.00,active
...,...,...,...,...
6966,CHEMBL4863615,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)Nc4cn[n...,2.39,active
6967,CHEMBL4854913,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)N4CCNC(...,0.41,active
6968,CHEMBL4848527,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)NCc4cc[...,0.63,active
6969,CHEMBL4872514,COc1cc(CNC(=O)CCCCCCCCNc2c3c(nc4cc(Cl)ccc24)CC...,1.25,active
6970,CHEMBL3545559,O=C(NCCCCCCCCNc1c2c(nc3cc(Cl)ccc13)CCCC2)c1ccc...,NaN,intermediate

### Combine both dataset

In [55]:
df_combined = pd.concat([df, df_lipinski], axis = 1)

In [56]:
df_combined

,molecule_chembl_id,canonical_smiles,standard_value,class,MW,LogP,NumHDonors,NumHAcceptors
0,CHEMBL133897,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1,750.00,active,312.325,2.8032,0.0,6.0
1,CHEMBL336398,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1,100.00,active,376.913,4.5546,0.0,5.0
2,CHEMBL131588,CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1,50000.00,inactive,426.851,5.3574,0.0,5.0
3,CHEMBL130628,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F,300.00,active,404.845,4.7069,0.0,5.0
4,CHEMBL130478,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C,800.00,active,346.334,3.0953,0.0,6.0
...,...,...,...,...,...,...,...,...
6966,CHEMBL4863615,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)Nc4cn[n...,2.39,active,506.094,7.3886,3.0,4.0
6967,CHEMBL4854913,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)N4CCNC(...,0.41,active,523.121,5.9852,2.0,4.0
6968,CHEMBL4848527,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)NCc4cc[...,0.63,active,547.143,7.0315,3.0,4.0
6969,CHEMBL4872514,COc1cc(CNC(=O)CCCCCCCCNc2c3c(nc4cc(Cl)ccc24)CC...,1.25,active,561.170,7.7468,2.0,5.0
6970,CHEMBL3545559,O=C(NCCCCCCCCNc1c2c(nc3cc(Cl)ccc13)CCCC2)c1ccc...,NaN,intermediate,680.724,10.1762,3.0,5.0

### cleaning NAN values again: in case we still have NAN values

In [57]:
df2 = df_combined[df_combined.standard_value.notna()] #because there is NAN values
df2

,molecule_chembl_id,canonical_smiles,standard_value,class,MW,LogP,NumHDonors,NumHAcceptors
0,CHEMBL133897,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1,750.00,active,312.325,2.8032,0.0,6.0
1,CHEMBL336398,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1,100.00,active,376.913,4.5546,0.0,5.0
2,CHEMBL131588,CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1,50000.00,inactive,426.851,5.3574,0.0,5.0
3,CHEMBL130628,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F,300.00,active,404.845,4.7069,0.0,5.0
4,CHEMBL130478,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C,800.00,active,346.334,3.0953,0.0,6.0
...,...,...,...,...,...,...,...,...
6965,CHEMBL4859103,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCCNC(=O)c4cc(...,2.57,active,562.154,7.8680,4.0,5.0
6966,CHEMBL4863615,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)Nc4cn[n...,2.39,active,506.094,7.3886,3.0,4.0
6967,CHEMBL4854913,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)N4CCNC(...,0.41,active,523.121,5.9852,2.0,4.0
6968,CHEMBL4848527,CC1=CC2Cc3nc4cc(Cl)ccc4c(NCCCCCCCCC(=O)NCc4cc[...,0.63,active,547.143,7.0315,3.0,4.0
6969,CHEMBL4872514,COc1cc(CNC(=O)CCCCCCCCNc2c3c(nc4cc(Cl)ccc24)CC...,1.25,active,561.170,7.7468,2.0,5.0

## Convert IC50 to pIC50
In order to have more uniform data distributed we are going to convert IC50 to the negative logarithmic scale which is essentially **-log10(IC50)**.
The following function pIC50 will accept a DataFrame as input and will:
* Take the IC50 values from standard value columns and transform it from nM to M by multiplying the value to 10^-9
* Take the molar value and apply -log10
* Delete the standard _value column and create a new pIC50 column

In [58]:
# https://github.com/chaninlab/estrogen-receptor-alpha-qsar/blob/master/02_ER_alpha_RO5.ipynb

def pIC50(input):
    pIC50 = []

    for i in input['standard_value_norm']:
        molar = i*(10**-9) #convert Nm to M
        pIC50.append(-np.log10(molar))

    input['pIC50'] = pIC50
    x = input.drop('standar_value_norm',1)
    return x

NOTE: values greater than 100,000,000 will be fixed at 100,000,000 otherwise the negative logarithmic value will become negative.

In [60]:
df_combined.standard_value.describe() #let us check how is the distribution

count    5.799000e+03
mean     2.599642e+12
std      1.070425e+14
min      0.000000e+00
25%      1.450000e+02
50%      2.370000e+03
75%      1.698244e+04
max      5.888437e+15
Name: standard_value, dtype: float64

In [61]:
-np.log10( (10**-9) * 100000000 ) #values equal or greater will be fixed

1.0

In [63]:
#so lets normalize the values greater than 100,000,000
def norm_value(input):
    norm = []

    for i in input['standard_value']:
        if i > 100000000:
            i = 100000000
        norm.append(i)

    input['standard_value_norm'] = norm
    x = input.drop('standard_value',1)
    
    return x

We will first apply the norm_value() function so that the values in the standard_value column is normalized.